.jumbotron {
    background: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg') center center / cover no-repeat;
}

body{
    background-color: #273746;
}

h1{
    text-emphasis-color: white;
    color: #273746;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Orbitron', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 90%;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.element{
  background-color: purple;
  display: flex;
  flex-shrink: 1;
  width: 62px;
  height: 80px;
  min-width: auto;
  min-height: auto;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 3px;
  padding: auto;
  border-radius: 15%;
  flex-basis: 80px;
  transition: 0.3s background;
}

.element:hover {
  background: rgb(45, 45, 89);
}